---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout>
  <section class="about-section">
    <h1>Bits about Charles...</h1>

    <h2>...professionaly</h2>
    <p>Charles Villard is a front-end web developer and software engineer with a penchant and appreciation for design systems and static site generators.</p>

    <h2>...recreationaly</h2>
    <p>Charles enjoys video games, table-top roleplaying games, drawing, movies and cooking. He also dabbles as a voice-actor lending his voice to many characters in productions of "The Friar," a mini-episode drama series.</p>

    <h2>...personally</h2>
    <p>Charles is based out of Riverview, Florida where he raises his two young daughters with his lovely partner and 4 cats (they help too.)</p>
  </section>
</BaseLayout>