---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout>
  <section class="work-section">
    <h1>Doings</h1>

    <h2>Work</h2>
    <h3>Hewlett Packard Enterprise</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis nobis voluptatem amet laborum, temporibus recusandae illo ab dolore eius placeat animi maiores ducimus et saepe corporis consequuntur accusamus, possimus dolorum!</p>

    <h3>Letterhead</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto assumenda culpa dolorem error ad consequuntur necessitatibus autem. Ab laborum totam, magni soluta explicabo libero vero perferendis rerum vitae alias nam!</p>

    <h3>Tenet Partners</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure similique veritatis praesentium ipsa, ab adipisci at aliquid optio officia eligendi harum tenetur voluptatem sapiente architecto odio quibusdam minus vero qui.</p>

    <h3>Perficient</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa nobis iste ducimus soluta incidunt earum consectetur voluptates officia omnis temporibus nam, asperiores blanditiis aliquam explicabo esse ratione? Eum, commodi laudantium.</p>

    <hr>

    <h2>Speaking</h2>
    <ul>
      <li>VueConf.US: [https://www.youtube.com/watch?v=q0UJSePrEg0](https://www.youtube.com/watch?v=q0UJSePrEg0)</li>
      <li>Global Vue Meetup: [https://www.youtube.com/watch?v=yOASfLYiwU4](https://www.youtube.com/watch?v=yOASfLYiwU4)</li>
      <li>CodePrep: [https://www.codeprep.io/podcast/059/](https://www.codeprep.io/podcast/059/)</li>
      <li>Metric: [https://metric.substack.com/p/on-burnout-7b3](https://metric.substack.com/p/on-burnout-7b3)</li>
    </ul>
    <hr>

    <h2>Community Organizing</h2>

    Front End Miami
  </section>
</BaseLayout>