---
import Navigation from '../components/Navigation.astro';
import Tour from '../components/Tour.astro';

let title = 'My New Astro Site!';

---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <main>
    <Navigation isHome={false}/>

    <h1>Charles Villard</h1>
    <p>is a frontend developer who enjoys building digital tools that make users' lives easier. Currently working as a Software Engineer at Hewlett-Packard Enterprise.</p>
  </main>
</body>
</html>
