---
import Navigation from '../components/Navigation.astro';
import Tour from '../components/Tour.astro';

let title = 'My New Astro Site!';

---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href={Astro.resolve("../style/main.scss")}>
</head>

<body>
  <main>
    <Navigation />




    <blockquote>Hi, I'm <strong>Charles Villard</strong>, a frontend developer <br/>who enjoys making it easier for people to work and create on the web. He's currently working as a Software Engineer at Hewlett-Packard Enterprise. He also helps organize tech-focused communities and speaks at events from time to time. He hates writing in the third-person though.</blockquote>
  </main>
</body>
</html>
