:root {
    --font-mono: Courier, monospace;
    --color-light: #F3F4F6;
}

a {
    color: inherit;
}

header h1 {
    font-size: 1em;
    font-weight: 500;
}

header img {
    width: 2em;
    height: 2.667em;
}

h2 {
    font-weight: 500;
    font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}
