// :root {
//     --font-mono: Courier, monospace;
//     --color-light: #F3F4F6;
// }

// a {
//     color: inherit;
// }

.hero-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

    .intro {

    }

    .home-branding {
        font-weight: 700;
        display: inline;
        font-size: 3.052rem;
        // letter-spacing: -.125rem;
    }
}
