@charset "utf-8";

@import "../../node_modules/open-props/open-props.min.css";
@import "../../node_modules/open-props/normalize.min.css";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=Orelega+One&display=swap');
@import url('/fonts/VaultAlarm-Soft.woff2');

@font-face {
  font-family: "Vault Alarm";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/VaultAlarm-Soft.woff2") format("woff2"), local("Vault Alarm Soft"), local("Vault-Alarm-Soft");
  font-display: swap;
}

:root {

  --c-cyan:#89DEEC;
  --c-blue:#4A7F85;
  --c-blue-darken: #31575c;
  --c-gray-200:#C2BFB9;
  --c-red:#B34D44;
  --c-gray-400:#6C6C6C;
  --c-slate:#7690A0;
  --c-amber:#E4C774;

  --text: var(--gray-8);
  --text-strong: var(--gray-8);
  --background: var(--gray-0);
  --background-2: var(--c-gray-200);
  --background-image: radial-gradient(ellipse at top left, var(--background), var(--background-2));
  --font-heading: 'Vault Alarm', Impact, Arial Black, sans-serif;
  --font-family: 'Fraunces', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Apple Color Emoji, Segoe UI Emoji;
  --link-visited: var(--gray-8);
  --link:var(--gray-8);

  @media (prefers-color-scheme: dark) {
    --text: var(--gray-1);
    --text-strong: var(--gray-1);
    --background: var(--gray-9);
    --background-2: var(--c-gray-400);
    --link:var(--gray-1);
  }
}

$text: var(--text);
$text-strong: var(--text-strong);
$background-color: var(--background);
$navbar-background-color: var(--background);
$font-heading: var(--font-heading);
$font-family: var(--font-family);


@import "global";
@import "home";
@import "nav";
