---
  let { isHome } = Astro.props;
---

<header class="navbar">
  <div class="container">
    <div class="navbar-brand">
      {
        isHome ? <span class="navbar-item branded-text">Charles Villard</span> : null
      }
    </div>
    <nav id="navbarMenu" class="navbar-menu">
        <a href="/#" class="navbar-item">About</a>
        <a href="/#" class="navbar-item">Work</a>
        <a href="/#" class="navbar-item">Writing</a>
    </nav>
  </div>
</header>