---
  let { isHome } = Astro.props;
---
<header class="navbar">
  <div class="container">
    {!isHome
      ? null
      : (
        <div class="navbar-brand">
          <a href="/"><span class="navbar-item branded-text">Charles Villard</span></a>
        </div>
      )
    }

    <nav id="navbarMenu" class="navbar-menu">
        <a href="/about" class="navbar-item">About</a>
        <a href="/doings" class="navbar-item">Doings</a>
        <a href="/#" class="navbar-item">Writing</a>
    </nav>
  </div>
</header>